.str_title{
    text-align:center;
}

.sentence{
    text-align:center;
}

.hand {
    display: flex;
    justify-content: center;
}

.hand input{
    width: 30vw;/* imgタグとwidth,heightの大きさを揃える */
    height: 30vw;
    display: block;
    background-color: #F9C80E;/*background-colorをしっかりと指定しないとinputタグが小さくなってしまいます*/
    opacity: 0;/*inputタグは見えなくなるようにopacity:0;*/
    position: absolute;
    top:0;
    z-index: 2;/*透明なボタンが画像より手前に来るようにz-indexを指定*/
}

.hand img{
    width: 30vw;/* inputタグとwidth,heightの大きさを揃える */
    height: 30vw;
}

.img_cpu img{
    transform: scale(-1, -1);
}
.f_img_hand{
    text-align:center;
}


